 @import url(https://fonts.googleapis.com/css?family=Exo+2:400,700,500,300);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #0c192c;
    font-family: "Exo 2";
}
nav {
    background: #000305;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; /* Fixed at the top */
    top: 0; /* Stick to the top of the viewport */
  }
  
  label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  
  nav ul {
    float: right;
    margin-right: 20px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  
  nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  
  a.active,
  a:hover {
    background: #67696b;
    transition: .5s;
  }
  
  .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0.4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(500s/var(--i));
}

.bubbles span:nth-child(odd) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

.bubbles span:nth-child(3n+4) {
    background: #c7ff2d;
    box-shadow: 0 0 0 10px #c7ff2d44, 0 0 50px #c7ff2d, 0 0 100px #c7ff2d;
}

.bubbles span:nth-child(4n+3) {
    background: #ff5e2d;
    box-shadow: 0 0 0 10px #ff5e2d44, 0 0 50px #ff5e2d, 0 0 100px #ff5e2d;
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}

.zone {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: radial-gradient(ellipse at center, #000000 0, #000000 100%);
    width: 40%;
    height: 27%;
    border: 5px dashed white;
    text-align: center;
    color: white;
    z-index: 20;
    transition: all 0.3s ease-out;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .05), inset 0 0 .25em 0 rgba(0, 0, 0, .25);
}

.zone .btnCompression .btn {
    /* Define styles for these elements here */
}

.zone .btnCompression .active {
    background: #ffffff;
    color: white;
}

.zone i {
    text-align: center;
    font-size: 10em;
    color: #fff;
    margin-top: 50px;
}

.zone .selectFile {
    height: 50px;
    margin: 20px auto;
    position: relative;
    width: 200px;
}

.zone label,
.zone input {
    cursor: pointer;
    display: block;
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 5px;
}

.zone label {
    background: #fff;
    color: #EB6A5A;
    display: inline-block;
    font-size: 1.2em;
    line-height: 50px;
    padding: 0;
    text-align: top;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 400;
    box-shadow: 0 1px 1px rgb(0, 0, 0);
}

.zone input[type=file] {
    opacity: 0;
}

.zone.in {
    color: white;
    border-color: white;
    background: radial-gradient(ellipse at center, #ffffff 0, #ffffff 100%);
}

.zone.in i {
    color: #fff;
}

.zone.in label {
    background: #fff;
    color: #202020;
}

.zone.hover {
    color: gray;
    border-color: white;
    background: #fff;
    border: 5px dashed gray;
}

.zone.hover i {
    color: #EB6A5A;
}

.zone.hover label {
    background: #fff;
    color: #EB6A5A;
}

.zone.fade {
    transition: all 0.3s ease-out;
    opacity: 1;
}